.icons {
	font-size: 50px;
	cursor: pointer;
}

.about {
	font-family: 'Berkshire Swash', cursive;
	font-size: 52px;
	font-weight: bolder;
}

.para {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ment {
	font-size: 30px !important;
	color: #b08968;
}
.services-tag {
	font-family: 'Philosopher', sans-serif;

	font-size: 32px;
	color: #b08968;
}

.Phil {
	font-family: 'Philosopher', sans-serif;
	/* color: #b08968; */
}
.header {
	font-family: 'Philosopher', sans-serif;
	color: #b08968;
}

.Theme {
	font-family: 'Philosopher', sans-serif;
	color: #b08968;
	font-weight: 700;
}

.writer-icon {
	font-weight: 500;
	font-size: 15px !important;
}

.writer {
	font-weight: 600;
	font-size: 15px;
}

.colour {
	color: #b08968;
}
