

.Featured--Articles{
    border-top: 4px solid rgba(78, 75, 75, 0.975);
    border-bottom: 4px solid rgba(78, 75, 75, 0.975);
    /* max-width: 1080px;
    margin: 0 auto; */
    text-align: left;
    padding: 10px;
    font-size: 20px;

}